@tailwind base;
@tailwind components;
@tailwind utilities;
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.fondoInicio {
  background-color: #d4e9e2;
  background-image: url("../img/hero/hero-mobile-2021.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 768px) {
  .fondoInicio {
    background-image: url("../img/hero/xl-hero-desktop-2021.webp");
  }
}
